

#custom
.vscode
*.sql

Dockerfile
*.yml

#Qwik

# Build
/front/dist
/front/lib
/front/lib-types
/front/server

# Development
/front/node_modules
/front/*.local

# Cache
/front/.cache
/front/.mf
/front/.rollup.cache
/front/tsconfig.tsbuildinfo

# Logs
/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*

# Editor
/front/.vscode/*
/front/!.vscode/launch.json
/front/!.vscode/*.code-snippets

/front/.idea
/front/.DS_Store
/front/*.suo
/front/*.ntvs*
/front/*.njsproj
/front/*.sln
/front/*.sw?

# Yarn
/front/.yarn/*
/front/!.yarn/releases

/front/tmp
