/front/node_modules
/front/front/.pnp
/front/.pnp.js

# testing
/front/coverage


# next.js
/front/.next/
/front/out/

# production
/front/build

# misc
/front/.DS_Store
*.pem

# debug
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

# local env files
/front/.env*.local

# vercel
.vercel

# typescript
/front/*.tsbuildinfo
/front/next-env.d.ts

#custom
.vscode
*.sql

Dockerfile
*.yml

#Qwik

# Build
/frontend/dist
/frontend/lib
/frontend/lib-types
/frontend/server

# Development
/frontend/node_modules
/frontend/*.local

# Cache
/frontend/.cache
/frontend/.mf
/frontend/.rollup.cache
/frontend/tsconfig.tsbuildinfo

# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

# Editor
/frontend/.vscode/*
/frontend/!.vscode/launch.json
/frontend/!.vscode/*.code-snippets

/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

# Yarn
/frontend/.yarn/*
/frontend/!.yarn/releases
