/front/node_modules
//front/front/.pnp
/front/.pnp.js

# testing
/front//coverage

# next.js
/front//.next/
/front//out/

# production
/front//build

# misc
/front/.DS_Store
*.pem

# debug
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

# local env files
/front/.env*.local

# vercel
.vercel

# typescript
/front/*.tsbuildinfo
/front/next-env.d.ts

#custom
.vscode
*.sql

Dockerfile
*.yml