.dialog{
    padding: 1rem;
    border-radius: 10px;
}

.dialog_form > *{
    margin-bottom: var(--Row-Margin);
}

.dialog_action{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.dialog_confirmBtn{
    height: 2.5rem;
    border: 2px solid green;
    border-radius: 5px;
}

.dialog_cancelBtn{
    height: 2.5rem;
    border: 2px solid red;
    border-radius: 5px;
}