.shift > *{
    margin-bottom: var(--Row-Margin);
}

.shift_company{
    width: 100%;
    overflow-x: scroll;
}

.shift_company::-webkit-scrollbar{
    display: none;
}

.shift_company_inner{
    display: flex;
    gap: 2rem;
    width: fit-content;
}

.shift_company_box{
    width: 60vw;
    height: 15vh;
    border: 1px solid black;
    border-radius: 10px;
}
