/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./style/SelectOption.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.SelectOption_header_box__J0x1_{
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.SelectOption_header_box_current__1cxi9, .SelectOption_header_month_list_month__Vgh3k{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SelectOption_header_box_current__1cxi9{
    border: 1px solid darkgray;
    min-width: 12ch;
} 

.SelectOption_header_box_list__umA8z{ 
    position: absolute;
    top: 2.6rem;
    left: 0;
    background-color: lightgray;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: calc(2.5rem*4);
    width: 100%;
    overflow: scroll;
    z-index: 10;
}

.SelectOption_hidden__XRfoG{
    display: none;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./style/Calendar.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.Calendar_container__1pd7c{
    position: relative;
    height: 2.5rem;
}

.Calendar_btn__qr01a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border: 1px solid black;
}

.Calendar_calendar__6SdqY{
    position: absolute;
    top: 2.7rem;
    left: 0;
    width: 18rem;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
}

.Calendar_calendar_monthYear__oCc77{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.Calendar_calendar_monthYear_btn__G8Ls1{
    height: 2rem;
}

.Calendar_calendar_monthYear_btn_arrow__ZM2oD{
    height: 1rem;
    width: 1rem;
}

.Calendar_calendar_days__WAQLc, .Calendar_calendar_dayName__mWvyM{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.Calendar_calendar_day__IncL6, .Calendar_calendar_dayName_name__MePWs{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}
.Calendar_calendar_dayName_name__MePWs{
    font-weight: bold;
}

.Calendar_active__g0qaQ{
    position: relative;
    display: flex;
    justify-content: center;
}

.Calendar_active__g0qaQ::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 8px;
    height: 8px;
    background-color: rgb(59, 148, 183);
    border-radius: 50%;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./app/shift/new/new.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.new_dropdown__xrvQS{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new_shift_name__eKbqF{
    display: flex;
    justify-content: space-between;
    margin: var(--Row-Margin) 0;
}

.new_shift_name_option__iyNuf{
    width: 30ch;
}

.new_shift_time__AxVIY{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
    gap: .5rem;
    margin-bottom: var(--Row-Margin);
}

.new_shift_time_t__tgeAW{
    width: 100%;
}

.new_shift_time_t_input__aIJXO{
    width: 100%;
    height: 2.5rem;
    border: 1px solid black;
}

.new_shift_right__BYWvW{
    display: flex;
    justify-content: flex-end;
}

.new_shift_addBtn__GwU8L{
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 5px;
    background-color: var(--Primary-Color);
}

.new_shift_worker__2yMUz{
    display: grid;
    grid-row-gap: .5rem;
    row-gap: .5rem;
    grid-template-areas: 
                            "name name name name name"
                            "date start end pause delete";
    margin-bottom: var(--Row-Margin);
    padding: .5rem;
    border-radius: 10px;
    border: 2px solid lightgray; 
}

.new_shift_worker_photo__PKG_S{
    grid-area: photo;
    display: none;
    align-items: center;
    justify-content: center;
}

.new_shift_worker_photo_content__rER6H{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.new_shift_worker_photo_content_tag__Isx_C{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.new_shift_worker_label__9bEPO{
    color: rgb(190, 190, 190);
    font-weight: bold;
}

.new_shift_worker_name__meSiW{
    grid-area: name;
    font-size: 1.1rem;
}

.new_shift_worker_date__P8_e1{
    grid-area: date;
}

.new_shift_worker_pause__ZsRrj{
    grid-area: pause;
}

.new_shift_worker_date_display__zhD5k{
    position: relative;
}

.new_shift_worker_date_display_first__9LZmu::after{
    content: "";
    display: inline-block;
    margin-left: 12px;
    width: 4px;
    height: 4px;
    border: 2px solid black;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(135deg) translateY(6px);
}

.new_shift_worker_date_display_all__XVwW6{
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightgray;
    display: none;
    z-index: 10;
}

.new_shift_worker_date_display__zhD5k:hover > .new_shift_worker_date_display_all__XVwW6{
    display: block;
}

.new_shift_worker_start__7yK7y{
    grid-area: start;
}

.new_shift_worker_end__waVES{
    grid-area: end;
}

.new_shift_worker_deleteBtn__bdjoa{
    grid-area: delete;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0 1rem;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new_shift_worker_deleteBtn_icon__BIC_g{
    width: 1.5rem;
    height: 1.5rem;
}

.new_shift_saveBtn__sixGP{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: var(--Primary-Color);
}
