.popup{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(var(--Navbar-Height) + .5rem);
    right: 5px;
    height: 4rem;
    width: 10rem;
    border-radius: 10px;
    background-color: var(--Primary-Color);
    padding: 0 .5rem;
    animation: fade .5s linear 1.5s normal forwards;
}

.popup_state{
    position: absolute;
    bottom: 0;
    height: .5rem;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-origin: left;
    animation: timer 1s linear forwards;
}

@keyframes fade{
    50%{
        transform: translateX(5rem);
    }
    100%{
        transform: translateX(12rem);
    }
}

@keyframes timer {
    50%{
        transform: scaleX(.5);
    }
    100%{
        transform: scaleX(0);
    }
}