
.newjob > *{
    margin-bottom: var(--Row-Margin);
}

.newjob_sInput{
    display: flex;
    flex-direction: column;
    gap: var(--Row-Margin);
}

.newjob_sInput_input{
    height: 2rem;
    border: 1px solid lightgray;
}

.newjob_contract{
    display: flex;
    justify-content: space-between;
}

.newJob_information{
    height: 40vh;
    width: 100%;
    padding: .3rem;
}

.newJob_label{
    font-weight: bold;
    font-size: 1.2rem;
}