.shift > *{
    margin-bottom: var(--Row-Margin);
}

.shift_company{
    width: 100%;
    overflow-x: scroll;
}

.shift_company_inner{
    display: flex;
    gap: 2rem;
    padding: .5rem;
    width: fit-content;
}

.shift_company_box{
    width: 30ch;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.shift_company_box_icon{
    height: 3rem;
    width: 3rem;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    /* .shift_company_box{
        width: 35vw;
        min-height: 15vh;
    } */
}
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
  
  }
  
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
  
  }
  
  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) { 
  
  }

/* @media (prefers-color-scheme: dark) {
    .shift_company_box {
      background-color: rgb(32, 32, 32);
      color: white;
    }
  } */