.search{
    margin-top: var(--Row-Margin);
}

.search > *{
    margin-bottom: var(--Row-Margin);
}

.search_amount{
    display: flex;
    justify-content: space-between;
}

.search_card{
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}