.landpage_shiftHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landpage_shiftHeader_text{
    font-size: 1.2rem;
}

.landpage_shiftHeader_link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--Primary-Color);
    padding: .5rem;
    border-radius: 5px;
    gap: .3rem;
}

.landpage_shiftHeader_link_arrow{
    width: 1rem;
    height: 1rem;
    transform: rotate(180deg);
}

.landpage_shift{
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--Primary-Color);
    margin: var(--Row-Margin) 0;
}

.landpage_shift_date{
    display: flex;
    position: relative; 
    align-items: center;    
    gap: 1rem;
    margin-bottom: 2rem;
}

.landpage_shift_date::after{
    position: absolute;
    bottom: -1rem;
    height: 1px;
    width: 100%;
    background-color: black;
    content: "";
}

.landpage_shift_date_day{
    margin-bottom: var(--Row-Margin);
}

.landpage_shift_date_startShift{
    height: 2rem;
    background-color: aqua;
    padding: 0 .3rem;
    border-radius: 5px;
}

.landpage_shift_time{
    display: flex;
    justify-content: space-between;
    margin-top: var(--Row-Margin);
}

.shift_time_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shift_time_content_icon{
    height: 3rem;
    width: 3rem;
}


.user_actions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    justify-content: center;
}

.user_actions_box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}