.landpage{
    padding: 0;
}

.landpage_header > *, .landpage_planning > *, .landpage_planning_topic > *{
    margin-bottom: var(--Row-Margin);
}

.landpage_header{
    position: relative;
    height: calc(100vh - var(--Navbar-Height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.landpage_header_arrow{
    position: absolute;
    bottom: 3px;
    height: 32px;
    width: 32px;
    left: calc(50% - 16px);
    transform: rotate(-90deg);
    animation: bounceArrow .5s linear infinite reverse;
}

@keyframes bounceArrow{
    50%{
        bottom: 8px
    }100%{
        bottom: 3px;
    }
}

.landpage_header_content{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landpage_header_title{ 
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.landpage_header_sub{
    padding: 0 var(--Mobile-Padding);
    text-align: center;
}

.landpage_header_image{
    height: 50vh;
    width: 100%;
}

.container{
    padding: 0;
}

.landpage_header_start{
    height: 2.5rem;
    background-color: var(--Primary-Color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    border-radius: 5px;
}

.landpage_planning{
    background-color: lightgray;

}

.landpage_planning_topic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: .5rem;
}

.landpage_planning_header{
    text-align: center;
}

.landpage_planning_topic_about{
    padding: 0 var(--Mobile-Padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landpage_planning_about_photo{
    height: 7rem;
    width: 7rem;
}
