/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_landpage_header__w2NJY{
    height: 40vh;
    background-color: var(--Primary-Color);
}

.page_landpage_header_text__qyJKd{
    font-size: 2.5rem;
    text-align: center;
}

/* .landpage_shift{
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--Primary-Color);
    margin: var(--Row-Margin) 0;
}

.landpage_shift_date{
    position: relative;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.landpage_shift_date::after{
    position: absolute;
    bottom: -1rem;
    height: 1px;
    width: 100%;
    background-color: black;
    content: "";
}

.landpage_shift_time{
    display: flex;
    justify-content: space-between;
    margin-top: var(--Row-Margin);
}

.shift_time_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shift_time_content_icon{
    height: 3rem;
    width: 3rem;
}
 */

