/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./component/Members/style.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.style_dashboard_membersBtn_link__VJL8t{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    border: 1px solid black;
}

.style_dialog__wg2a7{
    border-radius: 10px;
    padding: .5rem;
    max-height: 65vh;
    width: 80vw;
    border: 1px solid var(--Primary-Color);
}

.style_dialog__wg2a7 > *, .style_dialog_member_container__CuJO7 > *{
    margin-bottom: var(--Row-Margin);
}

.style_dialog_header__zYKfC{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.style_dialog_close__1NCfz{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    padding: 0 .5rem;
    outline: 1px solid var(--Primary-Color);
}

.style_dialog_email__o0B2Y{
    height: 2.5rem;
}

.style_dialog_email_input__2FBCv{
    height: 100%;
    width: 100%;
    padding: 0 5px;
    border-radius: 5px;
    background-color: rgb(200,200,200);
}

.style_dialog_member_container__CuJO7{
    max-height: 40vh;
    overflow-y: scroll;
}

.style_dialog_member__LRkQz{
    display: grid;
    grid-template-columns: 3fr 1fr .5fr;
    height: 2rem;
    align-items: center;
}

.style_dialog_member_deleteBtn___5uUA{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border:1px solid var(--Primary-Color);
    margin-right: .3rem;
}

.style_dialog_member_deleteBtn_icon__7lUJA{
    height: 50%;
    width: 50%;
}
