.navbar{
    padding: 0 var(--Mobile-Padding);
    height: var(--Navbar-Height);
    -webkit-box-shadow: 0px 2px 4px 0px var(--Primary-Color); 
    box-shadow: 0px 2px 4px 0px var(--Primary-Color);
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
}

.navbar_search{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: calc(var(--Navbar-Height) - .5rem);
    
}

.navbar_search_box{
    display: flex;
    width: fit-content;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;
}


.navbar_search_bar{
    width: 0px;
    height: 100%;
    border-radius: 5px;
    padding: 0;
}

.navbar_search_bar:valid, .navbar_search_bar:focus, .bar_fullwidth{
    width: calc(100% - calc(var(--Navbar-Height) - .5rem));
    padding: 0 .5rem;
    border: 1px solid black;
}

.navbar_search_icon{
    height: calc(var(--Navbar-Height) - .5rem);
    width: calc(var(--Navbar-Height) - .5rem);
    border-radius: 5px;
}

.navbar_search_icon_i{
    height: 100%;
    width: 100%;
}

.navbar_navigation{
    display: flex;
    gap: .5rem;
}

.navbar_navigation_bellIcon{
    height: calc(var(--Navbar-Height) - 1rem);
    width: calc(var(--Navbar-Height) - 1rem);
}

.navbar_notifPopup > *{
    margin-bottom: var(--Row-Margin);
}

.navbar_notifPopup{
    position: absolute;
    left: 100vw;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: calc(var(--Mobile-Padding) * 2);
    background-color: white;
    animation: showNotificationPopup .1s linear forwards;
    z-index: 10;
}

.navbar_notifPopup_header{
    display: flex;
    justify-content: space-between;
}

.navbar_notifPopup_closeBtn{
    height: 2rem;
    width: 2rem;
}

.navbar_notifPopup_notif{
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--Primary-Color);
    padding: .5rem;
}

.navbar_notifPopup_notif > *{
    margin-bottom: var(--Row-Margin);
}

.navbar_notifPopup_notif_deleteBtn{
    position: absolute;
    top: -.75rem;
    right: -.75rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--Primary-Color);
    border-radius: 50%;
}

.navbar_notifPopup_notif_date{
    text-align: end;
}

.navbar_logBtn{
    height: calc(var(--Navbar-Height) - 1rem);
    width: calc(var(--Navbar-Height) - 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
}

.navbar_logBtn_icon{
    height: 100%;
    width: 100%;
}

.navbar_sideBar{
    width: 25ch;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(100vw - 25ch);
    border: none;
    height: 100%;
    max-height: 100%;
}

.navbar_sideBar_user{
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .3rem;
}

.navbar_sideBar_user_photo{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.navbar_sideBar_user_name{
    font-size: 1.1rem;
}

.navbar_sideBar_link{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_sideBar_companys{
    position: relative;
}

.navbar_sideBar_companys_more{
    position: absolute;
    right: 25ch;
    top: 0;
    background-color: red;
    z-index: 79;
    height: 20vh;
    width: 6rem;
}

.navbar_sideBar_logoffBtn{
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

@keyframes showNotificationPopup{
    50%{
        left: 50vw;
    }100%{
        left: 0;
    }
}