.header_box{
    position: relative;
}

.header_box_current, .header_month_list_month{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_box_current{
    border: 1px solid darkgray;
}  

.header_box_list{ 
    position: absolute;
    top: 2.6rem;
    left: 0;
    background-color: lightgray;
    min-height: fit-content;
    max-height: calc(2.5rem*4);
    width: 100%;
    padding: 0 .5rem;
    overflow: scroll;
    z-index: 10;
}

.hidden{
    display: none;
}