.dashboard_membersBtn_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    border: 1px solid black;
}

.dialog{
    border-radius: 10px;
    padding: .5rem;
    max-height: 65vh;
    width: 80vw;
    border: 1px solid var(--Primary-Color);
}

.dialog > *, .dialog_member_container > *{
    margin-bottom: var(--Row-Margin);
}

.dialog_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog_close{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    padding: 0 .5rem;
    outline: 1px solid var(--Primary-Color);
}

.dialog_email{
    height: 2.5rem;
}

.dialog_email_input{
    height: 100%;
    width: 100%;
    padding: 0 5px;
    border-radius: 5px;
    background-color: rgb(200,200,200);
}

.dialog_member_container{
    max-height: 40vh;
    overflow-y: scroll;
}

.dialog_member{
    display: grid;
    grid-template-columns: 3fr 1fr .5fr;
    height: 2rem;
    align-items: center;
}

.dialog_member_deleteBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border:1px solid var(--Primary-Color);
    margin-right: .3rem;
}

.dialog_member_deleteBtn_icon{
    height: 50%;
    width: 50%;
}