/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./app/profile/profile.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.profile_profile__MKBVD{
    margin-top: var(--Row-Margin);
}

.profile_profile__MKBVD > *{
    margin-bottom: var(--Row-Margin);
}

.profile_profile_name__4Y537{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile_profile_name_photo__D57Sq{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    outline: 2px solid var(--Primary-Color);
}

.profile_profile_navigation__xy3R6{
    display: flex;
    justify-content: space-evenly;
}

.profile_profile_navigation_link__cd6d_{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
}

.profile_profile_navigation_link_icon__fSCbW{
    width: 2.5rem;
    height: 2.5rem;
}

.profile_profile_navigation_link_text__HW_ZY{
    font-weight: bold;
    text-decoration: underline;
}

.profile_profile_header__PTi8i{
    font-size: 1.2rem;
    margin-bottom: var(--Row-Margin);
}

.profile_profile_input__ronS4{
    margin-bottom: var(--Row-Margin);
}

.profile_profile_input_ele__LSgiF{
    height: 2.5rem;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid black;
}

.profile_profile_input_label__IDYn_{
    font-weight: bold;
}


.profile_company_box__xjWyt{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
    height: 5rem;
    border-radius: 10px;
    border: 2px solid var(--Primary-Color);
    margin-bottom: var(--Row-Margin);
}

.profile_company_box_icon__dLYcE{
    width: 1.5rem;
    height: 1.5rem;
}

.profile_input__DiX6P{
    position: relative;
    height: 2.5rem;
    margin-bottom: var(--Row-Margin);
}

.profile_input_ele__mSXCP{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.profile_input_label__zLASr{
    position: absolute;
    left: .5rem;
    top: calc(2.5rem / 2 - .6rem);
    transition: all .4s linear;
}

.profile_input_ele__mSXCP:focus + .profile_input_label__zLASr, .profile_input_ele__mSXCP:valid + .profile_input_label__zLASr {
    top: 0;
    font-size: .6rem;
}

.profile_button__vxLq8{
    height: 2rem;
    padding: 0 .5rem;
    background-color: var(--Primary-Color);
    border-radius: 5px;
    margin-bottom: var(--Row-Margin);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./component/MyCompanys/style.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.style_shift_company__DkQEu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 17vh;
    overflow-x: scroll;
}

.style_shift_company__DkQEu::-webkit-scrollbar{
    display: none;
}

.style_shift_company_inner__N9GuJ{
    display: flex;
    gap: 2rem;
    margin: 0 .5rem;
    width: -moz-fit-content;
    width: fit-content;
}

.style_shift_company_box__o6yKe{
    width: 60vw;
    height: 15vh;
    background-color: var(--Primary-Color);
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px #000000;
}

.style_shift__Sy1_N > *{
    margin-bottom: var(--Row-Margin);
}

.style_shift_company__DkQEu{
    width: 100%;
    overflow-x: scroll;
}

.style_shift_company__DkQEu::-webkit-scrollbar{
    display: none;
}

.style_shift_company_inner__N9GuJ{
    display: flex;
    gap: 2rem;
    width: -moz-fit-content;
    width: fit-content;
}

.style_shift_company_box__o6yKe{
    width: 60vw;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.style_shift_company_box_icon__hafPv{
    height: 3rem;
    width: 3rem;
}

