/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./style/SelectOption.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.SelectOption_header_box__J0x1_{
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.SelectOption_header_box_current__1cxi9, .SelectOption_header_month_list_month__Vgh3k{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SelectOption_header_box_current__1cxi9{
    border: 1px solid darkgray;
    min-width: 12ch;
} 

.SelectOption_header_box_list__umA8z{ 
    position: absolute;
    top: 2.6rem;
    left: 0;
    background-color: lightgray;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: calc(2.5rem*4);
    width: 100%;
    overflow: scroll;
    z-index: 10;
}

.SelectOption_hidden__XRfoG{
    display: none;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./component/MyCompanys/style.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.style_shift_company__DkQEu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 17vh;
    overflow-x: scroll;
}

.style_shift_company__DkQEu::-webkit-scrollbar{
    display: none;
}

.style_shift_company_inner__N9GuJ{
    display: flex;
    gap: 2rem;
    margin: 0 .5rem;
    width: -moz-fit-content;
    width: fit-content;
}

.style_shift_company_box__o6yKe{
    width: 60vw;
    height: 15vh;
    background-color: var(--Primary-Color);
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px #000000;
}

.style_shift__Sy1_N > *{
    margin-bottom: var(--Row-Margin);
}

.style_shift_company__DkQEu{
    width: 100%;
    overflow-x: scroll;
}

.style_shift_company__DkQEu::-webkit-scrollbar{
    display: none;
}

.style_shift_company_inner__N9GuJ{
    display: flex;
    gap: 2rem;
    width: -moz-fit-content;
    width: fit-content;
}

.style_shift_company_box__o6yKe{
    width: 60vw;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.style_shift_company_box_icon__hafPv{
    height: 3rem;
    width: 3rem;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./component/PopupAlert/style.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.style_popup__D_iVq{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(var(--Navbar-Height) + .5rem);
    right: 5px;
    height: 4rem;
    width: 10rem;
    border-radius: 10px;
    background-color: var(--Primary-Color);
    padding: 0 .5rem;
    animation: style_fade__iTezh .5s linear 1.5s normal forwards;
}

.style_popup_state__8B2ls{
    position: absolute;
    bottom: 0;
    height: .5rem;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-origin: left;
    animation: style_timer__V5YZv 1s linear forwards;
}

@keyframes style_fade__iTezh{
    50%{
        transform: translateX(5rem);
    }
    100%{
        transform: translateX(12rem);
    }
}

@keyframes style_timer__V5YZv {
    50%{
        transform: scaleX(.5);
    }
    100%{
        transform: scaleX(0);
    }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./component/Shift/style.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/

/*********** use client shift  ************/

.style_header__dWcqF{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    margin: var(--Row-Margin) 0;
}

.style_header_planningBtn__3ugVv{
    height: 2.5rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Primary-Color);
    border-radius: 10px;
}

.style_header_month_list_month__pRc76{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style_shift_calendar__7PF_P{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.style_shift_calendar_day__Jkcn_{
    position: relative;
    text-align: center;
    height: 3rem;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style_shift_calendar_dayName__KcVSk{
    text-align: center;
}

.style_shift_date__A1vku{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style_shift_date_editBtn__uFPEJ{
    border-radius: 50%;
    padding: .5rem;
}

.style_shift_date_editBtn__uFPEJ:hover{
    background-color: var(--Primary-Color);
}

.style_shift_date_editBtn_icon__yvUxe{
    width: 1.5rem;
    height: 1.5rem;
}

.style_shift_active__g2mQZ::after{
    content: "";
    position: absolute;
    bottom: 7px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--Primary-Color);
}

.style_selected__DyF75::after{
    content: "";
    position: absolute;
    bottom: 7px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--Primary-Color);
    animation: style_daySelected__d1FTz .3s linear forwards;
    z-index: -1;
}

.style_shift_display__pdry9 > *{
    margin-bottom: var(--Row-Margin);
}

.style_shift_display_day__1Cn7P{
    position: relative;
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.style_shift_display_shift__61gWS{
    display: grid;
    grid-template-areas: 
        "name name name"
        "start end pause";
    align-items: center;
    grid-gap: .5rem;
    gap: .5rem;
    height: 7rem;
    padding: 0 1rem;
    border: 1px solid var(--Primary-Color);
    border-radius: 10px;
}

.style_shift_display_shift_name__Pofhi{
    grid-area: name;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style_shift_display_shift_name_supprimer__jnDhP{
    width: 2rem;
    height: 2rem;
}

.style_shift_display_label__nlAk9{
    font-weight: bold;
}

.style_shift_display_content__CplIj{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    padding: 0;
    width: 100%;
}

.style_shift_display_content__CplIj:disabled{
    background-color: transparent;
    color: black;
}

@keyframes style_daySelected__d1FTz{
    50%{
        height: 1.5rem;
        width: 1.5rem;
        bottom: calc(7px / 2)
    }100%{
        height: 2.5rem;
        width: 2.5rem;
        bottom: .25rem;
    }
}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./app/shift/shift.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.shift_shift__B1Mn0 > *{
    margin-bottom: var(--Row-Margin);
}

.shift_shift_company__2d1QR{
    width: 100%;
    overflow-x: scroll;
}

.shift_shift_company__2d1QR::-webkit-scrollbar{
    display: none;
}

.shift_shift_company_inner__RuUut{
    display: flex;
    gap: 2rem;
    width: -moz-fit-content;
    width: fit-content;
}

.shift_shift_company_box__pvlff{
    width: 60vw;
    height: 15vh;
    border: 1px solid black;
    border-radius: 10px;
}

/*********** use client shift  ************/

.shift_header__lU2sd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--Row-Margin) 0;
}

.shift_header_name__mpbsQ{
    font-size: 1.2rem;
}

.shift_header_action__djgYc{
    display: none;
}

.shift_header_m_action__bwCb5{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--Row-Margin);
}

.shift_header_month_list_month__CgCmm{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shift_shiftRow__xppfJ{
    height: 4.5rem;
    width: 100%;
    display: grid;
    grid-template-areas: 
                        "name name name"
                        "day time pause";
    align-items: center;
    padding: 0 .3rem;
    margin-bottom: var(--Row-Margin);
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
}

.shift_shift_m__xmK3m{
    display: none;
}

.shift_shift_name__2odcV{
    grid-area: name;
}

.shift_shift_action__PFnvS{
    float: right;
}

.shift_shift_day__D6ftP{
    grid-area: day;
}

.shift_shift_time__W3Ccb{
    grid-area: time;
}

.shift_shift_pause__wvxXa{
    grid-area: pause;
}

.shift_shift_label__lTH_u{
    color: rgb(91, 91, 91);
} 

/* .shiftContent{

} */

/* .shift:nth-child(even){
    background-color: lightgray;
} */


