.holyday_content{
    position: relative;
    display: grid;
    grid-template-areas: 
                        "name name ago"
                        "date date status"
                        ". control control";
    padding: .5rem;
    align-items: center;
    margin-bottom: var(--Row-Margin);
    border-radius: 10px;
    border: 2px solid var(--Primary-Color);
}

.holyday_content > *{
    margin-bottom: var(--Row-Margin);
}

.holyday_content_deleteBtn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -.5rem;
    right: -.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--Primary-Color);
}

.holyday_content_deleteBtn_icon{
    width: 60%;
    height: 60%;
}

.holyday_content_name{
    grid-area: name;
}

.holyday_content_ago{
    grid-area: ago;
    text-align: end;
}

.holyday_content_date{
    grid-area: date;
}

.holyday_content_status{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .3rem;
    grid-area: status;
}


.holyday_content_status_bubble{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.holyday_content_controls{
    display: flex;
    justify-content: space-between;
    grid-area: control;
}

.holyday_content_controls_rejectBtn, .holyday_content_controls_acceptBtn{
    padding: .5rem 1rem;
}

.holyday_content_controls_rejectBtn{
    border: 2px solid red;
    font-weight: bold;
    color: red;
}

.holyday_content_controls_acceptBtn{
    border: 2px solid rgb(0, 177, 85);
    font-weight: bold;
    color: rgb(0, 177, 85);
}